<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/static/img/favicon.ico" type="image/x-icon">
    <title>To-doHub</title>

    <link rel="stylesheet" href="/static/css/style.css">

</head>
<body>
    <form class="form" action="">
        <div class="card">
            <div class="card-top">
                <img class="imglogin" src="/static/img/Logo.PNG" alt="">
                <h2 class="titulo">Cadastre-se aqui</h2>
                <p>Gerencie sua agenda</p>
            </div>
            <div class="card-group">
                <label>Nome</label>
                <input type="name" name="nome" placeholder="Seu nome" required>
            </div>
            <div class="card-group">
                <label>E-mail</label>
                <input type="email" name="email" placeholder="example@gmail.com" required>
            </div>
            <div class="card-group">
                <label>Número celular</label>
                <input type="" name="numero" placeholder="(11) 11111-1111" required>
            </div>
            <div class="card-group">
                <label>Senha</label>
                <input type="password" name="senha" placeholder="********" required>
            </div>
            <div class="card-group">
                <label><a href="login">Já tem uma conta?</a></label>
            </div>
            <div class="card-group btn">
                <button type="submit">Cadastre-se</button> 
            </div> 
        </div>
       
    </form>



</body>
</html>